@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    height:100vh;
    background-color: black;
    overflow: hidden;
}
.column{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 17%;
    border: 6px solid red !important;
    outline: 6px solid white !important;
    border-top: none !important;
    border-bottom: none !important;
}
.column:hover{
    z-index: 100;
    transform: scale(1.1);
    transition: 1.5s !important;
}
.column:nth-child(1){
    background-image: url(dmowski.jpg);
}


.column:nth-child(2){
    background-image: url(c.jpg);
}


.column:nth-child(3){
    background-image: url(paderewski.jpg);
}


.column:nth-child(4){
    background-image: url(witos.jpg);
}


.column:nth-child(5){
    background-image: url(korfanty.jpg);
}


.column:nth-child(6){
    background-image: url(daszyn.jpg);

}
.blur{
    filter: blur(3px) !important;
  

}
