<div>
    <div class="line"><span className="linia">Geneza</span></div>
    <br />
    <p>
        Powstanie kościuszkowskie wybuchło tuż po drugim rozbiorze Polski.
        Spowodowane było rządami Targowicy i ingerencją Rosji w sprawy Polski.
        Powstanie to rozpoczęło się od buntu generała Antoniego Madalińskiego który odmówił złożenia broni i wyruszył ze
        swym
        odziałem z Ostrołęki w kierunku Krakowa. Wkrótce potem dowództwo powstanie przejął Tadeusz Kościuszko. 24 marca
        na rynku
        krakowskim złożył uroczystą przysięgę która brzmiała:
    </p>
    <p>
        <br />
        <i>"Ja, Tadeusz Kościuszko, przysięgam w obliczu Boga całemu Narodowi Polskiemu, iż powierzonej władzy na niczyj
            prywatny ucisk nie użyję, lecz jedynie dla obrony całości granic, odzyskania samowolności Narodu i
            ugruntowania
            powszechnej wolności używać będę. Tak mi dopomóż Bóg i niewinna Męka Syna Jego"</i>
        <br />

    </p>
    <br />
    <div class="line"><span className="linia">Przebieg</span></div>
    4 kwietnia doszło do pierwszej bitwy oddziałów Kościuszki z wojskiem rosyjskim pod Racławicami. Sukces miał dla
    walczących większe znaczenie moralne niż militarne. Wkrótce dotarły do nich optymistyczne informacje ze stolicy –
    wybuchło tam powstanie, którego główne sukcesy to rozbicie rosyjskiego garnizonu, zdobycie ambasady i powołanie Rady
    Zastępczej Tymczasowej.

    Dalszy przebieg działań powstańczych wyglądał następująco:
    <ul>
        <li>
            16 kwietnia – ogłoszono powstanie Wielkiego Księstwa Litewskiego, jego konsekwencje to wybuch powstania na
            Litwie i
            przyłączenie się do insurekcji koronnej,
        </li>
        <li>
            7 maja – Kościuszko ogłasza uniwersał połaniecki, który przyznawał chłopom pańszczyźnianym ograniczoną
            wolność
            osobistą; miał przyczynić się do umożliwienia chłopom walk w armii i legalizował powstanie oddziałów
            kosynierów,
        </li>
        <li>
            6 czerwca – Polacy doznają porażki w bitwie z wojskami prusko-rosyjskimi pod Szczekocinami, straty to ponad
            2000
            żołnierzy, w tym dowódcy: Józef Wodzicki i Jan Grochowski,
        </li>
        <li>

            8 czerwca – porażka wojsk generała Józefa Zajączka w bitwie pod Chełmem,
            Od 13 lipca do 6 września wojska rosyjsko-pruskie nieskutecznie oblegały Warszawę,
        </li>
        <li>
            19 września – przegrana powstańców w bitwie pod Terespolem,
        </li>
        <li>
            10 października – bitwa pod Maciejowicami; w wyniku porażki Tadeusz Kościuszko dostaje się do niewoli, a
            parę dni
            później na stanowisku dowódcy powstania zastępuje go Tomasz Wawrzecki,
        </li>
        <li>
            5 listopada – kapitulacja Warszawy.
        </li>
    </ul>
    <div class="line"><span className="linia">Skutki</span></div>
    <br />
    <ul>
        <li>
            III rozbiór Polski – oficjalnie nastąpił w 1795 r., ale wszystkie decyzje podjęto w trakcie powstania;
            Polska zniknęła z map Europy na 123 lata
        </li>
        <li>

        </li>
        <li>
            wywóz powstańców na Sybir lub wcielanie ich przemocą do armii rosyjskiej
        </li>
        <li>
            w trakcie insurekcji doszło do ostatecznego zerwania unii polsko-litewskiej
        </li>
    </ul>
</div>



<!-- 2 powstanie -->
<div>
    <div class="line"><span className="linia">Geneza</span></div>
    <br />
    <p>
        Główną przyczyną wybuchu powstania listopadowego było nieprzestrzeganie przez carów Imperium Rosyjskiego
        postanowień konstytucji z 1815 roku. Aleksander I w 1819 roku zniósł wolność prasy i wprowadził cenzurę
        prewencyjną.ednocześnie wzmogły się prześladowania polskich organizacji niepodległościowych. W 1827 roku
        nastąpiły aresztowania członków Towarzystwa Patriotycznego.
    </p>
    <br>
    <div class="line"><span className="linia">Geneza</span></div>
    <br>
    <p>
    <ul>
        <li>
            29/30 XI 1830 “Noc Listopadowa” (nieudana próba aresztowania wielkiego księcia Konstantego przez
            Sprzysiężenie Podchorążych, przejęcie Arsenału przez ludność Warszawy, wycofanie wojsk rosyjskich z
            Warszawy)
        </li>
        <li>
            radykalizacja nastrojów w sejmie Królestwa Polskiego – uchwała o detronizacji cara jako króla polskiego,
        </li>
        <li>
            od stycznia 1831 r. regularna wojna między armią polską i rosyjską
        </li>
        <li>
            najkrwawsza bitwa – Olszynka Grochowska (II 1831: udana obrona Warszawy przed rosyjskim szturmem; 17 tys.
            ofiar obu stron)
        </li>
        <li>
            walki toczyły się też na ziemiach wcielonych do Rosji
        </li>
        <li>
            główni dowódcy: Józef Chłopicki, Jan Skrzynecki (częste zmiany, łącznie 8 wodzów)
        </li>
        <li>
            początkowe sukcesy armii polskiej (Wawer, Dębe Wielkie, Iganie) zaprzepaszczone przez nieudolność polityków
            i niewiarę generałów w zwycięstwo
        </li>
        <li>
            przełom – V 1831 klęska wojsk polskich pod Ostrołęką, IX 1831 rosyjski szturm Woli i zajęcie Warszawy
        </li>
        <li>
            Walki wygasły w X 1831; resztki armii polskiej wycofały się do Prus.
        </li>
    </ul>
    <br>
    <div class="line"><span className="linia">Skutki</span></div>
    <br>
    <p>
    <ul>
        <li>
            fala represji w Królestwie (rusyfikacja szkół i urzędów, likwidacja szkół wyższych, włączenie armii polskiej
            do armii rosyjskiej)
        </li>
        <li>
            marginalizacja Warszawy, Paryż staję się stolicą polskiej kultury
        </li>
        <li>
            likwidacja samodzielności Królestwa (zastąpienie konstytucji Statutem Organicznym, likwidacja sejmu,
            rusyfikacja urzędów)
        </li>
    </ul>
    </p>
    </p>

</div>
<!-- 3 powstanie -->



<div>
    <div class="line"><span className="linia">Próba zwerbowania chłopów </span></div>
    <br />
    <p>
        Po niepowodzeniach wcześniejszych zrywów narodowych zaczęto brać pod uwagę rolę chłopów w walkach powstańczych.
        Powstanie w Krakowie chciano oprzeć na sile chłopskich rąk. W zamian za pomoc utworzony tu Rząd Narodowy
        Rzeczypospolitej Polskiej obiecał uwłaszczenie chłopów, przydzielenie im ziemi i utworzenie warsztatów
        narodowych.
        Jednak zamiar przyciągnięcia chłopów do powstania nie powiódł się, gdyż głoszeniem i tłumaczeniem obietnic wśród
        najniższej warstwy społeczeństwa zajęła się jedynie niewielka garstka ludzi, wśród nich m.in. Edward Dembowski.
    </p>
    <br />
    <div class="line"><span className="linia">Przebieg</span></div>
    <p>
        W nocy z 20 na 21.02.1846 powstańcy rozpoczęli walki o miasto z lokalnym garnizonem austriackim. Po wyparciu ich
        wojsk z Krakowa utworzono Rząd Narodowy Rzeczpospolitej Polskiej, który głosił radykalne hasła (wydane w
        Manifeście do Narodu Polskiego), dotyczące zniesienia różnic stanowych i uwłaszczenia chłopów bez odszkodowania.
        Dyktatorem powstania został Jan Tyssowski.
        Powstanie nie spotkało się jednak z odzewem w innych zaborach, a bez niego na nic zdał się nawet entuzjazm
        okolicznych chłopów. Nadchodzące wojska austriackie rozgromiły 27.02 procesję patriotyczną, mającą porwać
        chłopów i robotników do walki, zabijając przy tym księdza Edwarda Dembowskiego. Władze miasta, zdając sobie
        sprawę z bezsensu dalszej walki, rozpoczęły pertraktacje pokojowe. 4.03.1846 roku miasto zajęły wojska
        austriackie i rosyjskie
    </p>
    <br />
    <div class="line"><span className="linia">Skutki</span></div>
    <br />
    <p>
    <ul>
        <li>>Dyktator powstania Tyssowski wraz z 1500 ludźmi został internowany przez władze pruskie</li>
        <li>Zlikwidowano i włączono Wolne Miasto Kraków do Austrii</li>
    </ul>
    </p>

</div>
<!-- 4 powstanie  -->
<div>
    <br />
    <div class="line"><span className="linia">Największe z powstań</span></div>
    <br />
    <p>
        Powstanie 1863-1864 było najdłużej trwającym zrywem niepodległościowym w epoce porozbiorowej. Do walki wciągnęło
        wszystkie warstwy społeczeństwa, odcisnęło się silnie na ówczesnych stosunkach międzynarodowych, a wreszcie
        spowodowało ogromny przełom społeczny i ideowy w dziejach narodowych, co wywarło decydujący wpływ na rozwój
        nowoczesnego społeczeństwa polskiego.
    </p>
    <br />
    <div class="line"><span className="linia">Polskie Stronnictwa</span></div>
    <br />
    <p>
        Mimo iż wszyscy polscy działacze mieli wspólny cel jakim było odzyskanie niepodległości, to
        nie byli zgodni co do metody odzyskanie tejże co spodowało utworzenie się dwóch stronnictw:
    <ul>
        <li><b>Czerwoni</b>-byli obozem radykalnym, grupującym działaczy nielegalnych kółek wojskowych i młodzieżowych,
            organizatorów patriotycznych manifestacji 1860–61. </li>
        <li><b>Biali</b>-dążyli do odzyskania niepodległości drogą reform i koncesji uzyskanych od cara (czego nie
            należy mylić z ugodowością).
        </li>
    </ul>
    </p>
    <br />
    <div class="line"><span className="linia">Wybuch powstania</span></div>
    <br />
    <p>
        16 stycznia 1863 roku Komitet Centralny Narodowy wystąpił jako Tymczasowy Rząd Narodowy i wydał odezwę, w której
        ogłosił w całym kraju stan wyjątkowy,22 stycznia ogłoszony został manifest Tymczasowego Rządu Narodowego,
        autorstwa Marii Ilnickiej, wzywający do czynu zbrojnego przeciw Imperium Rosyjskiemu.
    </p>
    <br />
    <div class="line"><span className="linia">Przebieg powstania</span></div>
    <br />
    <p>
        W reakcji na wybuch powstania wielki książę Konstanty Mikołajewicz Romanow przywrócił stan wojenny.W pierwszych
        dniach wojska rosyjskie opuściły 14 miast powiatowych (na 39). Powstanie od samego początku, z racji stosunku
        sił, przybrało charakter partyzancki. Władza spoczywała w Rządzie Narodowym wyłonionym z KCN, raz po raz jednak
        dochodziło do starć, będących wyrazem walki pomiędzy stronnictwami.Pierwszy zamach stanu przeprowadzili w lutym
        1863 roku zwolennicy Ludwika Mierosławskiego, . Po kilku klęskach skompromitowany wódz zbiegł, a dyktatura
        upadła. W marcu do powstania przyłączyli się biali dążący do wpływu na bieg wydarzeń. Z ich strony wyszła
        inicjatywa przekazania władzy w ręce wsławionego zwycięstwami generała Mariana Langiewicza.Władza powróciła w
        ręce rządu, w którym główne role odgrywali Stefan Bobrowski i Agaton Giller. Po kolejnym zamachu skrajnych
        czerwonych władza przeszła w ręce Karola Majewskiego (związanego z ugrupowaniem białych). Pod koniec roku, gdy
        powstanie gasło, władzę przejął Romuald Traugutt, trzeci i najlepszy z dyktatorów, usiłujący przekształcić
        powstańcze oddziały w regularne wojsko i nadać impulsów walce, zachęcając do udziału w niej chłopów.Wiosną 1864
        roku powstanie wyraźnie gasło. Represje i przewaga wroga czyniły swoje. Ukoronowaniem działań Rosjan było
        aresztowanie, osądzenie i stracenie Traugutta (sierpień 1864).
        Ostatnie oddziały partyzanckie utrzymały się do jesieni 1864 roku. Było to najdłuższe z polskich powstań, trwało
        bowiem aż 18 miesięcy.
    </p>
    <br/>
    <div class="line"><span className="linia">Skutki</span></div>
    <br/>
    <p>
        <ul>
            <li>
                śmierć ponad 10000 uczestników powstania i zesłanie ponad 20000 na Sybir
            </li>
            <li>
                likwidacja autonomii Królestwa Polskiego.
            </li>
            <li>
                konfiskata majątków uczestników powstania tymsamym straty w kulturze
            </li>
            <li>
                zastąpienie urzędników polskich rosyjskimi.
            </li>
            <li>
                jeszcze szersza rusyfikacja polskiego szkolnictwa
            </li>
            <li>
                kasata części polskich klasztorów
            </li>
        </ul>
    </p>
</div>